# PostgreSQL Configuration
POSTGRES_USER=casualty_user
POSTGRES_PASSWORD=casualty_password
POSTGRES_DB=casualty_db
POSTGRES_PORT=5432

# PgAdmin Configuration
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# Backend Configuration
BACKEND_URL=http://localhost:8000
BACKEND_PORT=8000

# Frontend Configuration
FRONTEND_URL=http://localhost:3000
FRONTEND_PORT=3000
